<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags title:       "New Application Name",
                        icon:        '/favicon.ico',
                        description: "New Application Description",
                        keywords:    "Application, New",
                        canonical:   root_url,
                        reverse:     true,
                        charset:     'utf-8',
                        noindex:     false, follow: true
  %>

  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
<div id="app">
  <%= yield %>
</div>

<%= javascript_pack_tag 'application' %>
</body>
</html>
